function heredoc(){/*
</div>
</div>
</div>
</div>
<script src="lib/jquery/jquery-ui-1.10.3.custom.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/bootstrap-components/checkbox/js/bootstrap-checkbox.js"></script>
<script src="lib/ace/ace.js"></script>
<script src="lib/ace/ext-language_tools.js"></script>
<script src="lib/spin.min.js"></script>
<script src="js/Util.js"></script>
<script src="js/String.js"></script>
<script src="js/MultiSelect.js"></script>
<script src="js/Table.js"></script>
<script src="js/Modal.js"></script>
<script src="js/Ajax.js"></script>
<script src="js/CodeEditor.js"></script>
<script src="js/Worker.js"></script>

<script type="text/javascript">
var contextPath = 'http://localhost:8700/agnostic/';

$(function(){
    $('input[type="checkbox"]').checkbox();
    $('.info').tooltip({
        html:true,
        placement:'right'
    });
    $('.info').hover(function(){
        $(this).tooltip('show');
    });
    $('.nav-list').removeClass('in').closest('.nav-header').addClass('collapsed');

    $('.page-title').html($('#pageContent title').html());

    var currentPage = $('.sidebar-nav a[href="'+window.location.pathname.replace(contextPath,'')+'"]');
    if(currentPage.size() > 0 && !currentPage.hasClass('.nav-header')){
        currentPage.parent().parent().removeClass('collapse');
        currentPage.parent().parent().addClass('in');
    }else{
        $('.sidebar-nav a[href="index.html"]').parent().parent().removeClass('collapse');
        $('.sidebar-nav a[href="index.html"]').parent().parent().addClass('in');
    }
});
        </script>
</body>
</html>
*/};
var content = heredoc.toString().match(/\/\*\s*([\s\S]*?)\s*\*\//m)[1];