function heredoc(){
/*
</div>
</div>
</div>
<script src="lib/jquery/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="lib/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="lib/bootstrap-components/checkbox/js/bootstrap-checkbox.js"></script>
<script src="lib/ace/ace.js" data-ace-base="lib/ace" type="text/javascript" charset="utf-8"></script>
<script src="lib/ace/ext-language_tools.js" type="text/javascript"></script>
<script src="lib/spin.min.js" type="text/javascript"></script>
<script src="lib/base64.js" type="text/javascript"></script>
<script src="lib/FileSaver.js" type="text/javascript"></script>
<script src="lib/jszip.min.js" type="text/javascript"></script>
<script src="js/plugins/metisMenu/metisMenu.min.js"></script>
<script src="js/Util.js" type="text/javascript"></script>
<script src="js/String.js" type="text/javascript"></script>
<script src="js/MultiSelect.js" type="text/javascript"></script>
<script src="js/Table.js" type="text/javascript"></script>
<script src="js/Modal.js" type="text/javascript"></script>
<script src="js/Ajax.js" type="text/javascript"></script>
<script src="js/CodeEditor.js" type="text/javascript"></script>
<script src="js/Worker.js" type="text/javascript"></script>
<script src="js/Queue.js" type="text/javascript"></script>
<script src="js/Generator.js" type="text/javascript"></script>
<script src="js/theme.js"></script>
</body>
</html>
*/
};
window.cmsPageContent = ('\n'+heredoc.toString().match(/\/\*\s*([\s\S]*?)\s*\*\//m)[1]+'\n');